<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="../views/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav>
    <a href="#" class="logo">Cafeteria</a>
        <div class="links">
            <a href="#">Inicio</a>
            <a href="#">Mision</a>
            <a href="#">Vision</a>
            <a href="#">Contactanos</a>
        </div>
            <div class="login">
                <button class="signup">Empezar</button>
                <button>login</button>
            </div>
        </nav>
</body>
</html>