<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="../views/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>


    <div class="container">
        <div class="glass-container">
            <nav class="navbar">
                <div class="logo"><a href="#">Cafeteria</a></div>
                <ul class="nav-links">
                    <li class="nav-link"><a href="{{url_for('index')}}">Inicio</a></li>
                    <li class="nav-link"><a href="#">Contactanos</a></li>
                    <li class="nav-link"><a href="#">Quienes Somos</a></li>
                </ul>
            </nav>
            <div class="content">
                <div class="main">
                    <h2>Hola!👌</h2><br><br><br>
                    <p>
                       Quieres ver nuestros MENU?<br>
                    </p>
                    <button><a href="#">Ver Menu</a></button>
                </div>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                    
                </div>
            </div>
        </div>
    </div>


</body>

</html>