<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio De Sesion | Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="login-card">
        <h2>Iniciar Sesion</h2>
        <h3>Ingrese sus credenciales</h3>

        <form class="login-form">
            <input type="text" placeholder="Nombre...">
            <input type="password" placeholder="Contraseña...">
            <a href="#">Olvidaste tu Contraseña?</a>
            <button type="submit">Iniciar Sesion</button>
        </form>


    </div>


</body>
</html>